.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(184, 5, 5);

  margin: 0.5rem 2rem;
  border-radius: 5px;
}
.container-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: rgb(71, 71, 71);
  color: white;
  border-bottom: 1rem solid white;
  margin: 0 2rem;
  padding-right: 1rem;
}

.container-item .btn {
  padding-left: 0.5rem;
}

.container .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 14.6rem;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 2rem;
}

.container .item:nth-child(1) {
  width: 1rem;
  padding-left: 1rem;
}

.title-building {
  color: rgb(58, 57, 57);
  padding-left: 2rem;
}

.container-building {
  color: rgb(58, 57, 57);
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}
.container-building h3:nth-child(1) {
  padding-left: 2rem;
  width: 10%;
}
.container-building h3 {
  width: 30%;
  margin-right: 2rem;
}
.container .btn {
  margin-left: 1rem;
  width: 20px;
  height: 20px;
}
