.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 252, 49);
}

.title {
  color: rgb(58, 57, 57);
  font-size: 3rem;
  margin: 0.5rem;
  cursor: pointer;
}

span {
  font-weight: bolder;
  font-size: 4rem;
  color: rgb(184, 5, 5);
}

.title-buildings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-buildings .btn-add {
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: rgba(134, 9, 9, 0.76);
  cursor: pointer;
}
